In [103]:
import requests
import pandas as pd
import numpy as num
import json

# importing needed modules. I did need to add numpy to get a better table

In [104]:
r = requests.get('https://datausa.io/api/data?drilldowns=Nation&measures=Population')
#pd.read_json()
data = r.json()["data"]
df = pd.DataFrame(data=data)
df.head()

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states
4   01000US  United States     2016  2016   318558162  united-states

#  Pull in data from API

# created data frame so that the API could be read within vscode, otherwise the json file was too big to read.

In [105]:
df.describe()

          ID Year    Population
count     8.00000  8.000000e+00
mean   2016.50000  3.194864e+08
std       2.44949  5.252633e+06
min    2013.00000  3.115366e+08
25%    2014.75000  3.159130e+08
50%    2016.50000  3.197813e+08
75%    2018.25000  3.233517e+08
max    2020.00000  3.265693e+08

In [106]:
df.shape

(8, 6)

In [107]:
df[df['Nation'] == 'United States']

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states
4   01000US  United States     2016  2016   318558162  united-states
5   01000US  United States     2015  2015   316515021  united-states
6   01000US  United States     2014  2014   314107084  united-states
7   01000US  United States     2013  2013   311536594  united-states

In [108]:
df[['Year', 'Population']].head

<bound method NDFrame.head of    Year  Population
0  2020   326569308
1  2019   324697795
2  2018   322903030
3  2017   321004407
4  2016   318558162
5  2015   316515021
6  2014   314107084
7  2013   311536594>

In [109]:
df.iloc[6:8]

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
6   01000US  United States     2014  2014   314107084  united-states
7   01000US  United States     2013  2013   311536594  united-states

# end of copying the Colab example

In [110]:
df.mean(axis=None, skipna=True, level=None, numeric_only=None)

C:\Users\maria\AppData\Local\Temp/ipykernel_24340/31316532.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=None, skipna=True, level=None, numeric_only=None)

ID Year       2.016500e+03
Year          2.525252e+30
Population    3.194864e+08
dtype: float64

# First descriptive statistics about my data, Mean (How would I print just the population? --create a more specific data frame?)

In [111]:
df.max(axis=None, skipna=True, level=None, numeric_only=None)

ID Nation            01000US
Nation         United States
ID Year                 2020
Year                    2020
Population         326569308
Slug Nation    united-states
dtype: object

# Second descriptive statistics about my data, Max (Same question)

In [112]:
df.eval

<bound method DataFrame.eval of   ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states
4   01000US  United States     2016  2016   318558162  united-states
5   01000US  United States     2015  2015   316515021  united-states
6   01000US  United States     2014  2014   314107084  united-states
7   01000US  United States     2013  2013   311536594  united-states>

In [129]:
df.query("Population > 320000000", inplace=False)

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states

# query data

In [115]:
df1=df[["Nation","ID Year"]]
df1.head()

          Nation  ID Year
0  United States     2020
1  United States     2019
2  United States     2018
3  United States     2017
4  United States     2016

In [ ]:
# Print second and thrid coulumns

In [116]:
df1.head(4)

          Nation  ID Year
0  United States     2020
1  United States     2019
2  United States     2018
3  United States     2017

# Print the first 4 ROWS of the data